* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tictactoe {
  text-align: center;
}
h1 {
  color: #444;
  line-height: 2em;
}
table {
  /*   border-collapse: collapse; */
}
td {
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 100px;
  border-radius: 10px;
  background-color: skyblue;
}
.result {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #444;
  font-size: 4rem;
  font-weight: bold;
  line-height: 8rem;
  background-color: #fff;
  animation: expand 0.6s ease-in-out;
}

@keyframes expand {
  0% {
    width: 230px;
  }
  100% {
    width: 100%;
  }
}
